<footer>
    <div class="footer-content">
      <h3>Senimanku.</h3>
      <div class="link">
        <ul>
          <li>Pekerjaan</li>
          <li>Desainer</li>
          <li>Aset</li>
          <li>Inspirasi</li>
        </ul>
      </div>
    </div>

    <div class="footer">
    <p>&copy; 2023 Senimanku.</p>
    </div>
  </footer>