<nav class="navbar navbar-expand-lg ">
    <div class="container container-fluid">
      <a class="navbar-brand " href="#">S. </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Pekerjaan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Seniman</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Asset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inspirasi</a>
          </li>
        </ul>
      </div>
      <div class="login">
        <button class="btn btn-primary">Masuk</button>
        <button class="btn btn-primary">Daftar</button>
      </div>
    </div>
  </nav>